@charset "UTF-8";

html{
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
  
  body{
    background:white;
    width:80%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
  }

  section{
    width:75%;
    margin-left: auto;
    margin-right: auto;
    text-decoration: underline;
  }

  article{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }

  article a{
    color: black;
    text-decoration: none;
  }
  article:nth-of-type(even){
    background-color: rgba(185, 184, 184, 0.856);
  }

  aside{
    float: right;
  }


  aside a:visited,
  aside a:link{
    color:blue;
    text-decoration: none;
  }
  
  aside a:hover,
  aside a:active{
    color:purple;
    text-decoration:underline;
  }
  
  
  nav ul li{
    list-style-type: none;
    display:block;
    float:left;
    width:16.66%;
    text-align:center;
  }
  
  nav ul li a:visited,
  nav ul li a:link{
    color:blue;
    text-decoration: none;
  }
  
  nav ul li a:hover,
  nav ul li a:active{
    color:purple;
    text-decoration:underline;
  }
  
  header{
    width: 100%;
  }

  footer{
    text-align: center;
    background: rgba(185, 184, 184, 0.856);
    width:100%;
    clear: both;
  }

  @media only screen and (max-width:640px){
    nav ul li{
      clear: both;
      width: 100%;
      text-align: center;
    }
  }